<ion-header>
    <ion-toolbar>
        <ion-title>
            Eric Swanson
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="overview">
        <ion-item>
            <ion-avatar item-start>
                <img src="./assets/me/eswanson_400x400.png" alt="My profile" />
            </ion-avatar>
            <ion-card-header>
                <ion-card-subtitle><blockquote>Code to Cloud to Cash with speed, safety, and scale. <ion-icon name="quote"></ion-icon></blockquote></ion-card-subtitle>
                <ion-card-title>Welcome to my technical side</ion-card-title>
            </ion-card-header>
        </ion-item>
        <ion-card-content>
            <p>
                👋 Hello and welcome. My name is Eric Swanson;
                husband, father, son, brother, people leader, technology architect, engineer, singer, and guitar player.
            </p>
            <p>
                While I have held many roles in IT, including Director, Manager, and Engineer, 
                I have traditionally held the various roles of IT Architect, including Enterprise, Solutions, Cloud, Software, and Application architecture with a strong background of development early in my career.
                I am currently a Principal Architect over several product teams in Customer Technology at <a href="https://aa.com">American Airlines</a> and co-founder of American's InnerSource community.
                With 20 years of IT leadership experience, I have had the unique experience of working across industry and technology platforms as a contractor, consultant and employee.
                Digital and Organizational Transformation, DevOps, Cloud, Containerization, and the Microservices architectural style have been increasingly important pillars of technology solutioning and delivery.
                In addition to flying American Airlines for travel, I also enjoy my home in Florida, singing and guitar, dating my wife, being a tourist at home, and enjoying time with pets and the horses.
            </p>
        </ion-card-content>
    </ion-card>
    <ion-list>
        <ion-item href="https://www.linkedin.com/in/iseric/">
            <ion-icon name="logo-linkedin" slot="start"></ion-icon>
            <ion-label>My career on LinkedIn</ion-label>
        </ion-item>
        <ion-item href="https://degreed.com/ericis">
            <ion-icon name="school" slot="start"></ion-icon>
            <ion-label>My learning on Degreed</ion-label>
        </ion-item>
        <ion-item href="https://www.goodreads.com/iseric">
            <ion-icon name="book" slot="start"></ion-icon>
            <ion-label>Books I've read on goodreads</ion-label>
        </ion-item>
        <ion-item href="https://twitter.com/ericis">
            <ion-icon name="logo-twitter" slot="start"></ion-icon>
            <ion-label>Follow me on Twitter</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
